/* Placeholder Selectors */
main h2, section a, footer h4 {
  color: #06486e; }

section p {
  color: #282828; }

/* /Placeholder Selectors */
/* Orange button */
.orange-btn {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #ff9933;
  color: white;
  padding: 10px;
  width: 150px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-weight: normal;
  text-transform: uppercase; }

/* /Orange button */
* {
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  height: 100%; }

.clear {
  clear: both; }

/* Header */
header {
  background-image: url("../images/header-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 350px;
  position: relative;
  text-align: center; }
  header h1 {
    position: absolute;
    width: 100%;
    margin-top: 10%;
    font-size: 2.25rem;
    font-weight: bold;
    text-shadow: 1px 1px 30px #ffffff; }
    header h1:after {
      content: "";
      display: block;
      position: relative;
      width: 15%;
      border-bottom-style: solid;
      margin: 0 auto; }
  header p {
    display: inline-block;
    position: relative;
    width: 60%;
    color: #464646;
    top: 44%;
    margin-top: 2%;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 30px #ffffff; }
  header a {
    position: absolute;
    top: 80%;
    left: 50%;
    margin-left: -85px; }

@media (min-width: 600px) {
  header h1 {
    font-size: 3.5rem;
    margin-top: 2%; }
    header h1:after {
      content: "";
      width: 100px; }
  header p {
    top: 50%;
    width: 100%; } }

/* /Header */
/* Main Section */
main {
  width: 100%;
  display: block; }
  main h2 {
    font-size: 1.25rem;
    padding-bottom: 1%;
    padding-top: 5%; }

@media (min-width: 600px) {
  main h2 {
    font-size: 1.75rem; } }

@media (min-width: 800px) {
  main {
    margin: 50px 0 0px; } }

/* Section */
section {
  width: 95%;
  display: inline-block;
  padding-left: 5%;
  min-width: 95%;
  max-width: 95%;
  height: auto;
  min-height: 50%;
  max-height: 75%;
  padding-bottom: 5%;
  padding-top: 0%;
  margin: 0 auto; }
  section:nth-child(2) {
    background-color: lightblue;
    padding-left: 0%;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding-bottom: 0%; }
  section #section-left {
    float: left;
    width: 90%; }
  section p {
    line-height: 22px;
    padding-bottom: 15px; }
    section p:last-of-type {
      padding-top: 3%; }
  section .orange-btn {
    margin-bottom: 20px; }
  section figure {
    -webkit-transform: translate(0%, 2%);
    -moz-transform: translate(0%, 2%);
    transform: translate(0%, 2%);
    background-image: url("../images/doctor-2x.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    display: none;
    position: relative;
    height: 300px;
    z-index: -1; }
  section a {
    font-weight: bold; }
  section video {
    position: relative;
    padding: 5% 10% 5% 10%;
    height: auto;
    width: 80%; }
    section video::cue {
      color: white;
      background-color: transparent; }

@media (min-width: 600px) {
  section {
    padding-bottom: 0%; }
    section figure {
      display: inline-block;
      right: 40%; } }

@media (min-width: 800px) {
  section {
    height: 65vh; }
    section #section-left {
      width: 50%; }
    section figure {
      -webkit-transform: translate(0%, 13%);
      -moz-transform: translate(0%, 13%);
      transform: translate(0%, 13%);
      width: 45%;
      right: 3%;
      height: 90%;
      float: right; } }

@media (min-width: 1000px) {
  section figure {
    margin-right: 5%; } }

/* /Section */
/* /Main Section */
/* Footer */
footer {
  clear: both;
  background-color: #f1f1f1;
  width: 100%;
  text-align: center;
  padding-bottom: 50px; }
  footer h4 {
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 1.25rem; }
  footer .row {
    display: inline-block;
    width: 100%;
    padding-bottom: 5%; }
    footer .row .steps-main {
      color: #282828;
      font-size: 1.25rem;
      font-weight: 500; }
    footer .row .steps-sub {
      color: #838383;
      font-size: 1rem;
      padding-left: 5%;
      padding-right: 5%; }
    footer .row .row-imgs {
      padding-bottom: 10px; }
    footer .row .r-img1 {
      width: 25%; }
    footer .row .r-img2 {
      width: 15%; }
    footer .row .r-img3 {
      width: 13%; }

/* Circle */
.circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #06486e;
  font-size: 2rem;
  border: 3px solid #06486e;
  width: 40px;
  line-height: 1em;
  position: relative;
  display: inline-block;
  margin-top: 3%; }
  .circle .height-fix {
    margin-top: 100%; }
  .circle .num {
    position: absolute;
    left: 0;
    top: 54%;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: -16px; }

/* /Circle */
/* Blue Bar */
.blue-bar:before {
  content: "";
  display: block;
  position: relative;
  width: 25%;
  border-top: 3px solid #06486e;
  left: 37%;
  padding-bottom: 5%; }

/* /Blue Bar */
@media (min-width: 600px) {
  footer h4 {
    font-size: 1.5rem; }
  footer .row .steps-main {
    font-size: 1.5rem; } }

@media (min-width: 800px) {
  footer .row {
    width: 30%;
    padding-bottom: 0%; }
  .blue-bar:before {
    display: none; } }

/* /Footer */
