//Mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

// generic transform
@mixin transform($transforms) {
  -webkit-transform: $transforms;
  -moz-transform: $transforms;
  transform: $transforms;
}

// translate
@mixin translate($tran1, $tran2) {
  @include transform(translate($tran1,$tran2));
} 

//Psuedo class
@mixin pseudo($content, $display, $pos, $width){
    content: $content;
    display: $display;
    position: $pos;
    width: $width;
}